# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
build/

# IDE and Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Type checking
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Git
.git/